<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myweb</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="homepage">
    <header>
      <h1>Welcome to the Meeting Scheduler ND</h1>
    </header>
    <nav>
      <a routerLink="/login">Login</a>
      <a routerLink="/create-user">Create User</a>
      <a routerLink="/meeting">Create Meeting</a>
    </nav>
    <main>
      <router-outlet></router-outlet> <!-- This will load the appropriate component based on the route -->
    </main>
  </div>
  
  
</body>
</html>